<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <!-- ANIMATE CSS for homepage-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- GOOGLE FONTS for homepage-->
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <!-- CSS for homepage ***PLEASE DO NOT DELETE***-->
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Home Page</title>
</head>

<body>
    {{{body}}}
</body>

</html>